@font-face {
  font-family: Monument;
  src: url(fonts/PPMonumentExtended-Bold.woff);
}

@font-face {
  font-family: Fragment;
  src: url(fonts/FragmentMono-Regular.otf);
}

*
{
  margin: 0;
  padding: 0;
}

body {
  background-color: #000000;
  color: #ffffff;
  font-family: Fragment;
  font-size: .8em;
}

.container {
  max-width: 100%;
}

.left-pane {
  position: fixed;
  width: 50vw;
  padding: 20px;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

.right-pane {
  margin-left: 50%;
  width: 50vw;
  padding: 20px;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

.logo {
  font-family: Monument;
  font-size: 4.5rem;
  text-align: center;
  margin: 0;
}

p {
  margin-bottom: 20px;
}